---
import { getCollection } from "astro:content";
import Base from "@app/layouts/Base.astro";
import StageDay from "@app/components/StageDay.astro";

export async function getStaticPaths() {
  const stages = await getCollection("stages");

  return stages.map((stage) => ({
    params: { name: stage.data.name.toLowerCase() },
    props: { stage },
  }));
}

const { stage } = Astro.props;
---

<Base title={stage.data.name}>
  <h1 class="text-4xl font-bold mb-4">{stage.data.icon} {stage.data.name}</h1>
  <ol>
    {
      stage.data.days.map((stageDay) => (
        <li class="mb-4">
          <StageDay {stageDay} />
        </li>
      ))
    }
  </ol>
</Base>
