---
import type { StageDay } from "@app/content.config";
import Act from "@app/components/Act.astro";
import { format } from "date-fns";

interface Props {
  stageDay: StageDay;
}

const stageDay = Astro.props.stageDay;
---

<h2 class="text-xl font-bold mb-2 text-pink-300">
  {format(stageDay.date, "EEEE, dd. MMMM")}
</h2>
<ol>
  {
    stageDay.acts.map((act) => (
      <li>
        <Act {act} />
      </li>
    ))
  }
</ol>
